version: "3.8"

services:
  backend-service:
    build: ./backend
    container_name: backend-service
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: flower-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend-service
